body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
}

#container {
    width: 95%;
    height: 95%;
    margin: 0 auto;
}

#first-child-container {
    width: 80%;
    height: 30%;
}

#forcast-container {
    width: 30%;
    height: auto;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 375px) and (-webkit-min-device-pixel-ratio: 2) {
    body {
      font-size: 14px; /* Reduce font size for better readability */
    }
    #city-input{
        width: 500px;
        margin-left: 1rem;
    }
    #city-input > input{
        width: 150px;
    }
    #city-input label {
        display: none;
      }
  
    #container {
        margin-left: 5rem;
        transform: scale(1);
      width: 500px; /* Adjust width for better spacing */
      padding: 10px; /* Add padding for better spacing */
    }
  
    #first-child-container {
      width: 100%; /* Make elements full width */
      height: auto; /* Adjust height dynamically */
    }
    #forcast-container{
        width: 50%; /* Make elements full width */
        height: 30%;
        display: flex;
        flex-wrap:inherit;
        flex-direction: column;

    }
  
    .text-5xl {
      font-size: 1.2rem; /* Reduce font size for smaller screen */
    }
  
    .text-2xl {
      font-size: 0.9rem; /* Reduce font size for smaller screen */
    }
  
    img {
      width: 40px; /* Reduce image size */
    }
  
    /* Additional adjustments based on your design */
  }
  